{% extends "base.html" %}
{% load static %}

{% block page_header %}
   {{block.super}}
{% endblock %}


{% block content%}
   <!--Hero-->
   <div class="container-fluid hero p-0">
      <div class="row hero__row m-0">
         <div class="hero__jumbotron hero__jumbotron--background">
            <h1 class="ml-lg-3 font-weight-bold mt-3 hero__heading">Get Your Supplements Today</h1>
            <p class="ml-lg-3 hero__subheading">Achive your goals faster with <br /> our supplements.</p>
            <a href="{% url 'products' %}" class="btn btn-primary btn-lg ml-lg-3 mb-3">Shop Now</a>
         </div>
      </div>
   </div>
   <!--Why Shop At Our Store-->
   <div class="why-section__wrapper">
      <div class="container why-section py-5">
         <div class="row">
            <div class="col-12 text-center mb-5">
               <h2 class="font-weight-bold">Why Shop At Our Store?</h2>
            </div>
         </div>
         <div class="row text-center">
            <div class="col-12 col-lg-4">
               <div class="why-section__icon mb-4">
                  <i class="fas fa-user-alt"></i>
               </div>
               <h3>Personalized Store Account</h3>
               <p class="mt-3 mb-0">Creating store account allows you to track your purchase history, write reviews on products and have faster checkouts.</p>
            </div>
            <div class="col-12 col-lg-4 mt-5 mt-lg-0">
               <div class="why-section__icon mb-4">
                  <i class="fas fa-map-marker-alt"></i>
               </div>
               <h3>Free Shipping</h3>
               <p class="mt-3 mb-0">For orders over 50e you get free delivery to your shipping address.</p>
            </div>
            <div class="col-12 col-lg-4 mt-5 mt-lg-0">
               <div class="why-section__icon mb-4">
                  <i class="fas fa-shopping-cart"></i>
               </div>
               <h3>Only Best Quality Products</h3>
               <p class="mt-3 mb-0">We use our customer reviews in order to dictate what we sell at our store. This way we make sure to always offer the best quality products.</p>
            </div>
         </div>
      </div>
   </div>
   <!--Social Media-->
   <div class="social-media__wrapper">
      <div class="container social-media">
         <div class="row social-media__row">
            <div class="col-12 mt-auto text-center">
               <h3 class="h1 social-media__heading">
                  Follow Our Social Media Outlets
               </h3>
               <p class="font-weight-bold mb-auto mt-3 social-media__subheading">
                  Be the first one to view our special offers and new arivals on our <br> social media.
               </p>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
               <a href="https://www.twitter.com/" target="_blank" class="social-media__link"><i class="fab fa-twitter"></i></a>
               <a href="https://www.instagram.com/" target="_blank" class="social-media__link ml-4 mr-4"><i class="fab fa-instagram"></i></a>
               <a href="https://www.facebook.com/" target="_blank" class="social-media__link"><i class="fab fa-facebook-f"></i></a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}