{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container" style="background-color:#e0dbd3">
   <div class="row">
      <div class="col"></div>
   </div>
</div>
{% endblock %}

{% block content %}
<!-- slider section -->
<section class="slider_section">
   <div class="slider_bg_box">
      <img src="https://images.unsplash.com/photo-1517963628607-235ccdd5476c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
   </div>
   <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                           Get your supplements today
                           </span>
                        </h1>
                        <h3 class="text-light">
                           Don't give up on your dreams!
                        </h3>
                        <div class="btn-box">
                           <a href="{% url 'products' %}" class="btn btn-primary btn-lg">
                           Shop Now
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container ">
               <div class="row">
                  <div class="col-md-7 col-lg-6 ">
                     <div class="detail-box">
                        <h1>
                           <span>
                           Best supplements on market
                           </span>
                           <h3 class="text-light">
                              Don't give up on your dreams!
                           </h3>
                        <div class="btn-box">
                           <a href="{% url 'products' %}" class="btn btn-primary btn-lg">
                           Shop Now
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- why section -->
<section class="why_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <h2 class="text-center font-weight-bold">
            Why Shop With Us
         </h2>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="box">
               <div class="img-box">
               </div>
               <div class="detail-box">
                  <h5>
                     Fast Delivery
                  </h5>
                  <p>
                     Your order will be at your home address in 48 hours!
                  </p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="box ">
               <div class="img-box">
               </div>
               <div class="detail-box">
                  <h2>
                     Free Shipping
                  </h2>
                  <p>Free Shipping for orders over 50eur!</p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="box ">
               <div class="img-box">
               </div>
               <div class="detail-box">
                  <h5>
                     Best Quality
                  </h5>
                  <p>
                     Number one supplements in Europe
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- end why section -->
{% endblock %}