body {
  font-family: 'Montserrat Alternates', sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --white: #f5f7f7;
  --orange-yellow: #E4B200;
  --red: #FF543E;
  --eerie-black: #141414;
  --blue-ryb: #0040e4;
  --input-white: #ffffff;
  --input-gray: #E9ECEF;
  --baby-powder: #F9F7F3;
}

/* Btn Styles */

.btn-primary {
  color: var(--white);
  font-weight: 550;
  background-color: var(--blue-ryb);
  border-color: var(--blue-ryb);
}

.btn-warning {
  color: var(--white);
  font-weight: 550;
  background-color: var(--orange-yellow);
  border-color: var(--orange-yellow);
}

.btn-danger {
  color: var(--white);
  font-weight: 550;
  background-color: var(--red);
  border-color: var(--red);
}

.btn-secondary {
  color: var(--eerie-black);
  font-weight: 550;
  background-color: var(--input-gray);
  border-color: var(--input-gray);
}

/*header section*/
.header {
  min-height: 121px;
}

.header--baby-powder {
  background-color:#f9f7f3
}

.custom_nav-container .nav_search-btn:hover .header__logo {
  color: var(--orange-yellow);
}

.header__logo {
  color: var(--eerie-black);
  font-size: 1.5rem;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link .header__logo--orange-yellow {
  color: var(--orange-yellow);
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link .header__logo--orange-yellow {
  fill: var(--orange-yellow);
}

.header__search_btn {
  background-color: var(--input-white);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-left: 1px solid var(--input-gray);
  border-top: 1px solid var(--input-gray);
  border-bottom: 1px solid var(--input-gray);
}

.header__search {
  border: 1px solid var(--input-gray);
}

.header > a:hover {
  color: var(--blue-ryb);
  -webkit-transition: all 0.3s;
  transition: all 0.3s
}

.header__bag {
  padding: 5px 8px;
  border-radius: 10px;
}

.header__bag--white {
  color: var(--white);
}

.header__bag:hover > .header__bag--white,
.header__bag:hover > .header__bag_icon--white {
  color: var(--blue-ryb);
}

.header__bag--orange-yellow {
  background-color: var(--orange-yellow);
}

.header__search_icon--blue-ryb {
  color: var(--blue-ryb);
}

.header__sub_nav {
  max-width: 361px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: var(--eerie-black);
}

/* NavBar Toggler Button */

  /* Icon 1 */

.animated-icon3 {
  position: relative;
  display: block;
  margin: 0px;
  transition: .5s ease-in-out;
  cursor: pointer;
  width: 30px;
  height: 20px;
}

.animated-icon3 > span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  left: 0;
  background-color: var(--eerie-black);
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.animated-icon3 > span {
  background: var(--eerie-black);
}

  /* Icon 4 */

.animated-icon3 > span:nth-child(1) {
  top: 0px;
}

.animated-icon3 > span:nth-child(2) {
  top: 10px;
}

.animated-icon3 > span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}

/* Hero */

.hero {
  position: relative;
  min-height: 437px;
  background: url("https://images.unsplash.com/photo-1517963628607-235ccdd5476c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80") no-repeat center;
  background-size: cover;
}

.hero__row {
  position: absolute;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
}

.hero__jumbotron {
  margin: auto auto;
  max-width: 100%;
  min-height: 223px;
  padding: 1rem;
  border-radius: 10px;
}

.hero__jumbotron--background {
  background: rgba(0, 0, 0, 0.48);
}

.hero__heading {
  font-size: 2.7rem;
  color: var(--input-white)
}

.hero__subheading {
  font-size: 1.2rem;
  color: var(--input-white);
  font-weight: 500;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .hero__jumbotron {
    max-width: 356px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hero__jumbotron {
    margin: auto 0 auto 155px;
    max-width: 400px;
    min-height: 223px;
    flex-grow: 1;
    border-radius: 10px;
  }
}

/*why section*/

.why-section__wrapper {
  background: var(--baby-powder);
}

.why-section {
  position: relative;
  min-height: 401px;  
}

.why-section__icon {
  font-size: 2.5rem;
  color: var(--eerie-black);
}

/* social media section */

.social-media__wrapper {
  background: var(--eerie-black);
}

.social-media {
  position: relative;
  min-height: 401px;
  padding: 0;
}

.social-media__row {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

.social-media__heading {
  color: var(--baby-powder);
}

.social-media__subheading {
  color: var(--baby-powder);
}

.social-media__link {
  color: var(--baby-powder);
  font-size: 2rem;
}

/* footer */

.footer__wrapper {
  background-color: var(--baby-powder);
}

.footer {
  padding: 0;
  min-height: 401px;
}

.footer__link,
.footer__link-icon {
  color: var(--eerie-black);
}

.footer__link-icon {
  font-size: 1.5rem;
}


/* products */

.sort-select-wrapper {
  max-width: 249px;
  width: 100%;
}

.search {
  max-width: 249px;
}


.product__icon {
  color: var(--blue-ryb);
  font-size: 1rem;
}

/* product */

#add-to-bag-form {
  max-width: 205px;
}

.review__image {
  border-radius: 21px;
}

.review__name {
  font-size: 1.3rem
}

.product__category {
  color: var(--eerie-black);
}

.product__icon {
  font-size: 1.2rem;
  color: var(--blue-ryb);
}

/* product edit */

input[name="image"]::file-selector-button{
  color: var(--eerie-black);
  font-weight: 550;
  background-color: var(--input-gray);
  border-color: var(--input-gray);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[name="image"]::file-selector-button:hover{
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

input[name="image"]::file-selector-button:focus{
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgb(130 138 145 / 50%);
}

/* bag */

.bag {
  min-height: 30rem;
}


.bag__table-wrapper {
  height: 100%;
}

.bag__row {
  flex-grow: 1;
}

/* contact */

.faq__card {
  background-color: var(--baby-powder);
  border: none;
  color: var(--eerie-black);
}

.faq__card > .card-header {
  border: none;
  background-color: var(--baby-powder);
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

.bg-red {
  background-color: var(--red);
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  /* mt-4 */
  color: #6c757d;
  /* text-secondary */
}

.allauth-form-inner-content input {
  border-color: #000;
  border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
  /* btn */
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
  color:white;
  /* text-info */
}


@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

}