<div class="d-flex d-lg-none w-100 mt-3">
    <!--Collapse Button-->
    <button class="navbar-toggler third-button" type="button" data-toggle="collapse" data-target="#header__mobile_menu" aria-controls="eader__mobile_menu" aria-expanded="false" aria-label="Toggle navigation">
        <div class="animated-icon3">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>
    <!--Bag Btn-->
    <div class="nav-item ml-auto header__bag header__bag--orange-yellow">
        <a href="{% url 'view_bag' %}" class="text-decoration-none text-center header__bag--white">
           <i class="fas fa-shopping-bag fa-lg my-1 d-block header__bag_icon"></i>
           {% if grand_total %}
           ${{ grand_total|floatformat:2 }}
           {% else %}
           $0.00
           {% endif %}
        </a>
    </div>
</div>
<!--Mobile Collapsed Nav-->
<div class="collapse d-lg-none w-100" id="header__mobile_menu">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown mt-2">   
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item ">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=product_category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %} " class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?product_category=Protein" class="dropdown-item">Protein Powder</a>
                <a href="{% url 'products' %}?product_category=Creatine" class="dropdown-item">Creatine</a>
                <a href="{% url 'products' %}?product_category=Amino" class="dropdown-item">Amino acids</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Snacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?product_category=Bars" class="dropdown-item">Protein bars</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Vitamins
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?product_category=Vitamins" class="dropdown-item">Vitamins and Minerals</a>
                <a href="{% url 'products' %}?product_category=Performance" class="dropdown-item">Sports Performance</a>
            </div>
        </li>
        <li class="nav-item mt-1">
            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="btn btn-primary">My Profile</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Register</a>
            {% endif %}
            {% if request.user.is_authenticated %}
               <a href="{% url 'account_logout' %}" class="btn btn-outline-secondary ml-2">Logout</a>
            {% else %}
               <a href="{% url 'account_login' %}" class="btn btn-outline-secondary ml-2">Login</a>
            {% endif %}
         </li>
    </ul>
</div>