{% load static %}
<!doctype html>
<html lang="en">

<head>
   <!--Base Meta Tags-->
   {% block meta %}
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   {% endblock %}

   <!--Extra Meta Tags-->
   {% block extra_meta %}
   {% endblock %}

   <!--Core CSS-->
   {% block corecss %}
   <!--BootStrap CSS-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
   <!--Custom Base CSS-->
   <link rel="stylesheet" href="{% static 'css/base.css' %}">
   {% endblock %}

   <!--Extra CSS-->
   {% block extra_css %}
   {% endblock %}

   <!--Core JS-->
   {% block corejs %}
   <!--FontAwsome CDN-->
   <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
   <!--JQuery CDN Import-->
   <script src="https://code.jquery.com/jquery-3.4.1.min.js"
   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
   <!--BootStrap JS CDN Imports-->
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
   <!--Stripe V3 Import-->
   <script src="https://js.stripe.com/v3/"></script>
   {% endblock %}

   <!--Extra CSS import-->
   {% block extra_js %}
   {% endblock %}

   <title>Quality Supplements {% block extra_title %}{% endblock %}</title>
</head>

<body>
   <!-- Header Section -->
   <header class="container-fluid p-3 header header--baby-powder">
      {% block page_header %}
         <!--Navbar-->
         <nav class="navbar navbar-expand-lg p-0 flex-column header__navbar">
            <div class="w-100 d-flex">
               <!--Logo-->
               <a href="{% url 'home' %}" class="text-decoration-none mx-auto mx-lg-0 font-weight-bold header__logo header__logo--orange-yellow">
                  Quality Supplements
               </a>
               <!--Menu-->
               <div class="d-none d-lg-inline-flex ml-auto">
                  <ul class="navbar-nav d-flex align-items-center ml-auto">
                     <!--Search Products Form-->
                     <li class="nav-item">
                        <form method="GET" action="{% url 'products' %}">
                           <div class="input-group">
                              <button class="btn header__search_btn" type="submit">
                                 <i class="fas fa-search header__search_icon--blue-ryb"></i>
                              </button>
                              <input class="form-control header__search" type="text" name="q"
                              placeholder="Search our site">
                           </div>
                        </form>
                     </li>
                     <li class="nav-item">
                        {% if request.user.is_authenticated %}
                           <a href="{% url 'profile' %}" class="ml-3 btn btn-primary">My Profile</a>
                        {% else %}
                           <a href="{% url 'account_signup' %}" class="ml-3 btn btn-primary">Register</a>
                        {% endif %}
                     </li>
                     <li class="nav-item">
                        {% if request.user.is_authenticated %}
                           <a href="{% url 'account_logout' %}" class="btn btn-outline-secondary ml-2">Logout</a>
                        {% else %}
                           <a href="{% url 'account_login' %}" class="btn btn-outline-secondary ml-2">Login</a>
                        {% endif %}
                     </li>
                     <li class="nav-item ml-3 header__bag header__bag--orange-yellow">
                        <a href="{% url 'view_bag' %}" class="text-decoration-none text-center header__bag--white">
                           <i class="fas fa-shopping-bag fa-lg my-1 d-block header__bag_icon"></i>
                           {% if grand_total %}
                           ${{ grand_total|floatformat:2 }}
                           {% else %}
                           $0.00
                           {% endif %}
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
            {% include 'includes/mobile-top-header.html' %}
            <div class="d-none d-lg-flex header__sub_nav">
               <ul class="navbar-nav">
                     <li class="nav-item dropdown">   
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="all-products-link"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           All Products
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                           <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item ">By Price</a>
                           <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                           <a href="{% url 'products' %}?category=Protein,Creatine,Amino,Vitamins,Bars,Performance&direction=asc" class="dropdown-item ">By Category</a>
                           <a href="{% url 'products' %} " class="dropdown-item">All Products</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="nutrition-link"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Nutrition
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                           <a href="{% url 'products' %}?category=Protein" class="dropdown-item">Protein Powder</a>
                           <a href="{% url 'products' %}?category=Creatine" class="dropdown-item">Creatine</a>
                           <a href="{% url 'products' %}?category=Amino" class="dropdown-item">Amino acids</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="snacks-link"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Snacks
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="snacks-link">
                           <a href="{% url 'products' %}?category=Bars" class="dropdown-item">Protein bars</a>
                        </div>
                     </li>
                     <li class="nav-item dropdown">
                        <a class="logo-font font-weight-bold nav-link text-black" href="#" id="vitamins-link" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                           Vitamins
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="vitamins-link">
                           <a href="{% url 'products' %}?category=Vitamins" class="dropdown-item">Vitamins and Minerals</a>
                           <a href="{% url 'products' %}?category=Performance" class="dropdown-item">Sports Performance</a>
                        </div>
                     </li>
               </ul>
            </div>
         </nav>
      {% endblock %}
   </header>
   
   <!--Message Row-->
   {% if messages %}
      <div class="message-container">
         {% for message in messages %}
            {% with message.level as level %}
               {% if level == 40 %}
                  {% include 'includes/toasts/toast_error.html' %}
               {% elif level == 30 %}
                  {% include 'includes/toasts/toast_warning.html' %}
               {% elif level == 25 %}
                  {% include 'includes/toasts/toast_success.html' %}
               {% else %}
                  {% include 'includes/toasts/toast_info.html' %}
               {% endif %}
            {% endwith %}
         {% endfor %}
      </div>
   {% endif %}

   <!--Page Content-->
   <main>
      {% block content %}
      {% endblock %}
   </main>

   <!--Footer Section-->
   <footer class="footer__wrapper">
      <div class="container footer d-flex flex-row flex-lg-column py-5 h-100">
         <div class="row footer__row my-auto mx-auto w-100 text-center text-lg-left align-content-center">
            <div class="col-12 col-lg-4 h-100 flex-fill">
               <a href="{% url 'home' %}" class="text-decoration-none d-block h4 footer__link font-weight-bold">Quality Supplements</a>
               <a href="{% url 'contact' %}" class="btn btn-primary d-inline-flex mt-3">Get in Touch</a>
               <div class="d-block mt-3">
                  <a href="https://www.twitter.com/" target="_blank" class="footer__link-icon"><i class="fab fa-twitter"></i></a>
                  <a href="https://www.instagram.com/" target="_blank" class="footer__link-icon ml-3 mr-3"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.facebook.com/" target="_blank" class="footer__link-icon"><i class="fab fa-facebook-f"></i></a>
               </div>
            </div>
            <div class="col-12 col-lg-2 mt-4 ml-lg-auto text-center text-lg-left">
               <h5 class="font-weight-bold">Services</h5>
               <ul class="list-unstyled">
                  {% if request.user.is_authenticated %}
                     <li><a href="{% url 'account_signup' %}" class="footer__link">Logout</a></li>
                  {% else %}
                     <li class="mt-1"><a href="{% url 'account_signup' %}" class="footer__link">Register</a></li>
                     <li class="mt-1"><a href="{% url 'account_login' %}" class="footer__link">Login</a></li>
                  {% endif %}
                  <li class="mt-1"><a href="{% url 'products' %}" class="footer__link">Products</a></li>
               </ul>
            </div>
            <div class="col-12 col-lg-3 mt-4 text-center text-lg-left">
               <h5 class="font-weight-bold">Resources</h5>
               <ul class="list-unstyled">
                  <li><a href="{% url 'contact' %}" class="footer__link">Contact</a></li>
                  <li class="mt-1"><a href="{% url 'contact' %}" class="footer__link">FAQ</a></li>
               </ul>
            </div>
            <div class="col-12 ml-lg-auto text-center text-lg-right mt-4">
               <p>© 2022 Quality Supplements. All rights reserved.</p>
            </div>
         </div>
      </div>
   </footer>

   <!--Post Load JS-->
   {% block postloadjs %}
      <script>
         $('.toast').toast('show');
      </script>
   {% endblock %}
</body>

</html>